{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Ubah Produk</h2>
        <form action="simpan/" method="post">
            {% csrf_token %}
            <input type="number" name="id" value="{{produk.id}}" hidden>
            <label for="nama">Nama Produk</label>
            <input type="text" name="nama" value="{{produk.nama_produk}}">
            <label for="keterangan">Keterangan</label>
            <input type="text" name="keterangan" value="{{produk.keterangan}}">
            <label for="harga">Harga</label>
            <input type="number" name="harga" value="{{produk.harga}}">
            <label for="jumlah">Jumlah</label>
            <input type="number" name="jumlah" value="{{produk.jumlah}}">
            <button type="submit" class="big-btn">Simpan</button>
        </form>
    </div>
</body>
</html>